@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/menlo');
                
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(255, 0, 208, 0.6) !important;
    padding: 20px 0;
    transition: color 0.2s, border-bottom-color 0.2s;
    box-shadow: 1px 5px 5px #a4a4a4;
}

.navbar-nav .nav-link {
    position: relative;
    color: #494949; /* Set the default color of the link text */
    text-decoration: none;
  }
  
.navbar-nav .nav-link:hover {
  color: #414df7; /* Set the desired color of the link text when hovered */
}

.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 48%;
  transform: translateX(-50%);
  width: 0; /* Initially, the underline width is zero */
  height: 2px;
  background-color: #ffc6f7; /* Set the desired color for the underline */
  transition: width 0.2s; /* Transition the width property to create the animation */
}

.navbar-nav .nav-link:hover::before {
  width: calc(100% - 25px);
}

/* Home Page */
#home {
  background: linear-gradient(180deg, rgba(255,198,247,1) 0%, rgba(105,114,244,1) 100%);
}
.title {
  font-size: 150px;
}
.typing-container {
  width: 500px;
  margin: 0 auto;
}
.text {
  font-size: 24px;
}

/* About Section */
.custom-box {
  background-color: #282c34;
  width: 600px;
}
.custom-box p {
  line-height: 0.75;
}
.purple {
  color: #c678dd;
  font-family: 'Menlo', sans-serif;
}
.light-orange {
  color: #e5bf7b;
  font-family: 'Menlo', sans-serif;
}
.dark-orange {
  color: #d19966;
  font-family: 'Menlo', sans-serif;
}
.blue {
  color: #62afed;
  font-family: 'Menlo', sans-serif;
}
.light-gray {
  color: #abb2bf;
  font-family: 'Menlo', sans-serif;
}
.dark-gray {
  color: #808691;
  font-family: 'Menlo', sans-serif;
}
.green {
  color: #98c379;
  font-family: 'Menlo', sans-serif;
}
.yellow {
  color: #ffd602;
  font-family: 'Menlo', sans-serif;
}
.one-indent {
  margin-left: 20px;
}
.two-indent {
  margin-left: 40px;
}
.three-indent {
  margin-left: 60px;
}